body {
  display: grid;
  background-color: black;
  justify-items: center;
  padding-top: 30vh;

}

main {
  display: grid;
  grid-template-columns: 25vw 9vw;
  grid-column-gap: 1vh;
}

.showNum {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 1vh;
  grid-row-gap: 1vh;
}

input,
#window,
button {
  display: grid;
  place-items: center;
  font-size: 30px;
  color: white;
  height: 6vh;
  border-radius: 12px;
  border: 0;
  outline: 0;
}

input:active,
#submit:active {
  background-color: black;
}


#window {
  display: grid;
  justify-content: right;
  padding-right: 0.5em;
  grid-column-start: 1;
  grid-column-end: 4;
  height: 6vh;
}

#num0 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.css-btn {
  display: grid;
  grid-row-gap: 1vh;
}

.operator {
  background-color: #f0932b;
}
.number,
#submit,
.num-form {
  background-color: #383638;
}

.clear {
  background-color: #c8cacf;
}







/*범위 안의 랜덤 답 맞추기*/
/*p {
  display: none;
}

.showing {
  display: block;
}
*/
/*/* || general styles 

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

body {
  width: 800px;
  margin: 0 auto;
}

h1, h2 {
  font-family: 'Faster One', cursive;
}

/* header styles 

h1 {
  font-size: 4rem;
  text-align: center;
}

header p {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

/* section styles 

section article {
  width: 33%;
  float: left;
}

section p {
  margin: 5px 0;
}

section ul {
  margin-top: 0;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: -5px;
  margin-bottom: 10px;
}*/